<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
 
    
    <bean id="sportActivityDao" class="cz.muni.fi.pa165.sportactivitymanager.dao.impl.SportActivityDAOImpl">
    </bean>
    
    <bean id="sportActivityService" class="cz.muni.fi.pa165.sportactivitymanager.service.impl.SportActivityServiceImpl">
        <property name="sportDAO" ref="sportActivityDao" />
    </bean>
 
     
 <bean id="userDao" class="cz.muni.fi.pa165.sportactivitymanager.dao.impl.UserDAOImpl">
 </bean>
 
 <bean id="userService" class="cz.muni.fi.pa165.sportactivitymanager.service.impl.UserServiceImpl">
     <property name="uDao" ref="userDao"/>
 </bean>
 
    <bean id="sRDaoImpl" class="cz.muni.fi.pa165.sportactivitymanager.dao.impl.SportRecordDAOImpl">
 </bean>
 
 <bean id="sRService" class="cz.muni.fi.pa165.sportactivitymanager.service.SportRecordServiceImpl">
     <property name="sRDao" ref="sRDaoImpl"/>
 </bean>
 

</beans>
